.nav{
    display: flex;
    justify-content: center;
    margin: 20px 0px 100px 0px;
    transform: translate(0, -65px);
    transition: .7s;
}


.nav_item{
    margin-left: 10px;
    list-style: none;
    text-decoration: none;
    color:black;
}